<!DOCTYPE html>
{% load static %}
{% load photologue_tags i18n %}
{% load i18n %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="{% static 'shuttabug/css/bootstrap.min.css'%}" rel="stylesheet" media="screen">
		<link href="{% static 'shuttabug/css/screen.css' %}" rel="stylesheet" media="screen">

		<link href="{% static 'shuttabug/css/lightbox.css' %}" rel="stylesheet" media="screen">


	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="{% static 'js/html5shiv.min.js' %}"></script>
	      <script src="{% static 'js/respond.min.js' %}"></script>
	    <![endif]-->
    </head>
    <body>
        <!-- Navigation -->
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="{% url 'shuttabug:index' %}">Unum Image Library</a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse navbar-ex1-collapse">
		    <ul class="nav navbar-nav">
			    <li class="home"><a href="{% url 'shuttabug:index' %}">Home</a></li>
			    <li><a href="{% url 'shuttabug:search' %}">Search</a></li>
			    <li class="galleries dropdown">
					<a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
			            Gallery views<b class="caret"></b>
			        </a>
					<ul class="dropdown-menu">
						<li class="sub-page"><a href="{% url 'shuttabug:custom-gallery-list' %}">List views</a></li>
						<li class="sub-page"><a href="{% url 'shuttabug:custom-gallery-archive' %}">Date views</a></li>
					</ul>
				</li>
			    <li class="photos dropdown">
					<a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
			            Photo views<b class="caret"></b>
			        </a>
					<ul class="dropdown-menu">
                        <li class="sub-page"><a href="{% url 'shuttabug:custom-photo-list' %}">List views</a></li>
						<li class="sub-page"><a href="{% url 'shuttabug:custom-pl-photo-archive' %}">Date views</a></li>
					</ul>
				</li>
				<li>
				    <a href="{% url 'shuttabug:news' %}">News</a>
				</li>

		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
    	<div class="container">
        	{% block content %}{% endblock %}
        </div>
        <script src="{% static 'shuttabug/js/jquery.js' %}"></script>
        <script src="{% static 'shuttabug/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'shuttabug/js/project.js' %}"></script>
		<script src="{% static 'shuttabug/js/lightbox.js' %}"></script>
    </body>
</html>