{% load static %}
{% block content %}
    <form method="POST" class="post-form" action="{% url 'shuttabug:download_image' %}">
        {% csrf_token %}
            <p>Download Image Sizes</p>
            {% for choice in form.download_options %}
                <div class="myradio">
                    {{ choice }}
                </div>
            {% endfor %}
            <input type="hidden" name="photo_slug" value="{{photo_slug}}">
            <br>
        <button type="submit" name = "submit" value = "download" class="save btn btn-default" >Download</button>
    </form>
{% endblock %}