{% extends "photologue/photo_list.html" %}
{% load photologue_tags i18n %}

{% block content %}

    <div class="row col-lg-12">
        <h1 class="page-header">{% trans "All photos" %}</h1>
    </div>

	{% if object_list %}
		<div class="row col-lg-12">
            {% for object in object_list %}
                <!--
		        <a href="{% url 'shuttabug:custom-photo-detail' photo_slug=object.slug %}">
		             <img src="{{ object.get_thumbnail_url }}" class="thumbnail" alt="{{ object.title }}">
		        </a>
		        -->
		        <a href="{{ object.image.url }}" data-lightbox="{{object.slug}}" data-title="{{object.caption}}">
		            <img src="{{ object.get_thumbnail_url }}" class="thumbnail" alt="{{ object.title }}">
		        </a>
		    {% endfor %}

		</div>
	{% else %}
		<div class="row">{% trans "No photos were found" %}.</div>
	{% endif %}

	{% include "photologue/includes/paginator.html" %}

{% endblock %}