{% extends "photologue/photo_list.html" %}
{% load photologue_tags i18n %}

{% block content %}

    <div class="row col-lg-12">
        <h1 class="page-header">{% trans "All photos" %}</h1>
    </div>

	{% if object_list %}
		<div class="row col-lg-12">
            {% for photo in object_list %}
		        <a href="{% url 'shuttabug:custom-photo-detail' photo_slug=photo.slug %}" data-lightbox="photolist">
		             <img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
		        </a>
		    {% endfor %}

		</div>
	{% else %}
		<div class="row">{% trans "No photos were found" %}.</div>
	{% endif %}

	{% include "photologue/includes/paginator.html" %}

{% endblock %}